.trackPlayer {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
}

.albumContainer {
	position: relative;
	width: 200px;
}

.trackAlbumCover {
	border-radius: .5rem;
	filter: url("/#filter-music");
	display: flex;
}

.albumOverlay {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	backdrop-filter: blur(12px) saturate(120%);
	border-radius: .5rem;
	cursor: pointer;
}

.albumContainer:hover .albumOverlay {
	opacity: 1;
}

.albumOverlayButton {
	padding: .5rem;
	background: rgba(255, 255, 255, 0.2);
	border-radius: .5rem;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	transition: .3s ease;
}

.artists {
	font-weight: 400;
	color: #aaa;
}

.artist:not(:last-child):after {
	content: ', ';
}

.svg-filters {
	position: absolute;
	visibility: hidden;
	width: 1px;
	height: 1px;
}
