.waveForm {
	transition: .2s;
	border-radius: 1rem;
	padding: 0 1rem;
	margin-top: 2.5rem;
	cursor: pointer;
}

.waveForm:hover {
	backdrop-filter: blur(10px);
	scale: 1.075;
	rotate: .5deg;
	box-shadow:
  2.8px 2.8px 2.2px rgba(0, 100, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 100, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
}

.waveFormLine {
	transition: .2s;
}

/* 6.7px 6.7px 5.3px rgb(9, 72, 232, 0.028),
12.5px 12.5px 10px rgb(9, 72, 232, 0.035),
22.3px 22.3px 17.9px rgb(9, 72, 232, 0.042),
41.8px 41.8px 33.4px rgb(9, 72, 232, 0.05),
100px 100px 80px rgb(9, 72, 232, 0.07) */

.waveForm:hover .waveFormLine {
	stroke: #fc184d;
}
