.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem 5rem;
}

.logoName {
	font-family: 'PP Neue Machina', sans-serif !important;
	font-size: 5rem !important;
	font-weight: 900 !important;
	text-align: center;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-color:#99f5ff;
	background-image:
		radial-gradient(at 9% 94%, hsla(173,67%,69%,1) 0px, transparent 50%),
		radial-gradient(at 79% 83%, hsla(324,97%,70%,1) 0px, transparent 50%),
		radial-gradient(at 36% 70%, hsla(247,89%,68%,1) 0px, transparent 50%),
		radial-gradient(at 74% 70%, hsla(345,71%,75%,1) 0px, transparent 50%),
		radial-gradient(at 25% 67%, hsla(325,90%,61%,1) 0px, transparent 50%),
		radial-gradient(at 84% 49%, hsla(170,81%,78%,1) 0px, transparent 50%);
}
